@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #3a4f7a;
  color: #ffc6d3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.game__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.game__btn {
  margin-top: 36px;
  display: flex;
  gap: 36px;
}

.btn {
  font-family: 'Quicksand', sans-serif;
  background-color: #ffc6d3;
  font-size: large;
  color: #3a4f7a;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  width: 150px;
  height: 50px;
}

.btn:hover {
  cursor: pointer;
  background-color: #3a4f7a;
  color: #ffc6d3;
  border: 1px solid #ffc6d3;
}

@media screen and (max-width: 450px) {
  .btn {
    font-size: small;
    border-radius: 5px;
    font-weight: 600;
    width: 100px;
    height: 30px;
  }

  .btn-container {
    gap: 16px;
  }
}

.fa-solid {
  margin-right: 10px;
}
